#page2{
  background-color: black;
  color: white;
}

#header2{
   justify-content: space-between;
   align-items: center;
   display: flex;
 margin-left: 80px;
 margin-right: 80px;
}

#text{
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
  
}

@keyframes gradientAnimation {
   0% {
     color: #333; /* Dark gray */
   }
   100% {
     color: #adfcff; /* Light gray */
   }
 }

#text1 {
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 60px;
   font-weight: 700;
}

#text2{
   font-size: 70px;
   font-weight: 800;
   background: linear-gradient(90deg, #333, #363088); /* Gradient background */
   background-clip: text; /* Clip text to the background */
   -webkit-background-clip: text; /* For Safari */
   color: transparent; /* Make text transparent initially */
   display: inline-block; /* Prevent the background from filling the entire width */
   margin-bottom: 200px;
}

  #text2 span {
   display: inline-block;
   animation: gradientAnimation 2s forwards;
 }

 #text2 span:nth-child(1) {
   animation-delay: 0s; /* Delay for the first letter */
 }

 #text2 span:nth-child(2) {
   animation-delay: 0.1s; /* Adjust the delay for the second letter */
 }

 #text2 span:nth-child(3) {
   animation-delay: 0.2s; /* Adjust the delay for the third letter */
 }

 #text2 span:nth-child(4) {
   animation-delay: 0.3s; /* Adjust the delay for the fourth letter */
 }

 #text2 span:nth-child(5) {
   animation-delay: 0.4s; /* Adjust the delay for the fifth letter */
 }

 #text2 span:nth-child(6) {
   animation-delay: 0.5s; /* Adjust the delay for the sixth letter */
 }

 #text2 span:nth-child(7) {
   animation-delay: 0.6s; /* Adjust the delay for the seventh letter */
 }

 #text2 span:nth-child(8) {
   animation-delay: 0.7s; /* Adjust the delay for the eighth letter */
 }

 #text2 span:nth-child(9) {
   animation-delay: 0.8s; /* Adjust the delay for the ninth letter */
 }

 #text2 span:nth-child(10) {
   animation-delay: 0.9s; /* Adjust the delay for the tenth letter */
 }

 #text2 span:nth-child(11) {
   animation-delay: 1s; /* Adjust the delay for the eleventh letter */
 }

 #text2 span:nth-child(12) {
   animation-delay: 1.1s; /* Adjust the delay for the twelfth letter */
 }

 #text2 span:nth-child(13) {
   animation-delay: 1.2s; /* Adjust the delay for the thirteenth letter */
 }

 #text2 span:nth-child(14) {
   animation-delay: 1.3s; /* Adjust the delay for the fourteenth letter */
 }

 #text2 span:nth-child(15) {
   animation-delay: 1.4s; /* Adjust the delay for the fifteenth letter */
 }

 #text2 span:nth-child(16) {
   animation-delay: 1.5s; /* Adjust the delay for the sixteenth letter */
 }

 #text2 span:nth-child(17) {
   animation-delay: 1.6s; /* Adjust the delay for the seventeenth letter */
 }

 #text2 span:nth-child(18) {
   animation-delay: 1.7s; /* Adjust the delay for the eighteenth letter */
 }

 #text2 span:nth-child(19) {
   animation-delay: 1.8s; /* Adjust the delay for the nineteenth letter */
 }

 #text2 span:nth-child(20) {
   animation-delay: 1.9s; /* Adjust the delay for the twentieth letter */
 }

 #text2 span:nth-child(21) {
   animation-delay: 2s;
 }
 
 #text2 span:nth-child(22) {
   animation-delay: 2.1s;
 }
 
 #text2 span:nth-child(23) {
   animation-delay: 2.2s;
 }
 
 #text2 span:nth-child(24) {
   animation-delay: 2.3s;
 }
 
 #text2 span:nth-child(25) {
   animation-delay: 2.4s;
 }
 
 #text2 span:nth-child(26) {
   animation-delay: 2.5s;
 }
 
 #text2 span:nth-child(27) {
   animation-delay: 2.6s;
 }
 
 #text2 span:nth-child(28) {
   animation-delay: 2.7s;
 }
 
 #text2 span:nth-child(29) {
   animation-delay: 2.8s;
 }
 
 #text2 span:nth-child(30) {
   animation-delay: 2.9s;
 }
 
 #text2 span:nth-child(31) {
   animation-delay: 3s;
 }
 
 #text2 span:nth-child(32) {
   animation-delay: 3.1s;
 }
 
 #text2 span:nth-child(33) {
   animation-delay: 3.2s;
 }
 
 #text2 span:nth-child(34) {
   animation-delay: 3.3s;
 }
 
 #text2 span:nth-child(35) {
   animation-delay: 3.4s;
 }
 
 #text2 span:nth-child(36) {
   animation-delay: 3.5s;
 }
 
 #text2 span:nth-child(37) {
   animation-delay: 3.6s;
 }
 
 #text2 span:nth-child(38) {
   animation-delay: 3.7s;
 }
 
 #text2 span:nth-child(39) {
   animation-delay: 3.8s;
 }
 
 #text2 span:nth-child(40) {
   animation-delay: 3.9s;
 }
 
 #text2 span:nth-child(41) {
   animation-delay: 4s;
 }
 
 #text2 span:nth-child(42) {
   animation-delay: 4.1s;
 }
 
 #text2 span:nth-child(43) {
   animation-delay: 4.2s;
 }
 
 #text2 span:nth-child(44) {
   animation-delay: 4.3s;
 }
 
 #text2 span:nth-child(45) {
   animation-delay: 4.4s;
 }
 
 #text2 span:nth-child(46) {
   animation-delay: 4.5s;
 }
 
 #text2 span:nth-child(47) {
   animation-delay: 4.6s;
 }
 
 #text2 span:nth-child(48) {
   animation-delay: 4.7s;
 }
 
 #text2 span:nth-child(49) {
   animation-delay: 4.8s;
 }
 
 #text2 span:nth-child(50) {
   animation-delay: 4.9s;
 }
 
 #text2 span:nth-child(51) {
   animation-delay: 5s;
 }
 
 #text2 span:nth-child(52) {
   animation-delay: 5.1s;
 }
 #text2 span:nth-child(53) {
   animation-delay: 5.2s;
 }
 
 #text2 span:nth-child(54) {
   animation-delay: 5.3s;
 }
 
 #text2 span:nth-child(55) {
   animation-delay: 5.4s;
 }
 
 #text2 span:nth-child(56) {
   animation-delay: 5.5s;
 }
 
 #text2 span:nth-child(57) {
   animation-delay: 5.6s;
 }
 
 #text2 span:nth-child(58) {
   animation-delay: 5.7s;
 }
 
 #text2 span:nth-child(59) {
   animation-delay: 5.8s;
 }
 
 #text2 span:nth-child(60) {
   animation-delay: 5.9s;
 }
 
 #text2 span:nth-child(61) {
   animation-delay: 6s;
 }
 
 #text2 span:nth-child(62) {
   animation-delay: 6.1s;
 }
 
 #text2 span:nth-child(63) {
   animation-delay: 6.2s;
 }
 
 #text2 span:nth-child(64) {
   animation-delay: 6.3s;
 }
 
 #text2 span:nth-child(65) {
   animation-delay: 6.4s;
 }

 #text2 span:nth-child(66) {
   animation-delay: 6.5s;
 }
 
 #text2 span:nth-child(67) {
   animation-delay: 6.6s;
 }
 
 #text2 span:nth-child(68) {
   animation-delay: 6.7s;
 }
 
 #text2 span:nth-child(69) {
   animation-delay: 6.8s;
 }
 
 #text2 span:nth-child(70) {
   animation-delay: 6.9s;
 }
 
 #text2 span:nth-child(71) {
   animation-delay: 7s;
 }
 
 #text2 span:nth-child(72) {
   animation-delay: 7.1s;
 }
 
 #text2 span:nth-child(73) {
   animation-delay: 7.2s;
 }
 
 #text2 span:nth-child(74) {
   animation-delay: 7.3s;
 }
 
 #text2 span:nth-child(75) {
   animation-delay: 7.4s;
 }
 
 #text2 span:nth-child(76) {
   animation-delay: 7.5s;
 }
 
 #text2 span:nth-child(77) {
   animation-delay: 7.6s;
 }
 
 #text2 span:nth-child(78) {
   animation-delay: 7.7s;
 }
 
 #text2 span:nth-child(79) {
   animation-delay: 7.8s;
 }
 
 #text2 span:nth-child(80) {
   animation-delay: 7.9s;
 }
 
 #text2 span:nth-child(81) {
   animation-delay: 8s;
 }
 
 #text2 span:nth-child(82) {
   animation-delay: 8.1s;
 }
 
 #text2 span:nth-child(83) {
   animation-delay: 8.2s;
 }
 
 #text2 span:nth-child(84) {
   animation-delay: 8.3s;
 }
 
 #text2 span:nth-child(85) {
   animation-delay: 8.4s;
 }
 
 #text2 span:nth-child(86) {
   animation-delay: 8.5s;
 }
 
 #text2 span:nth-child(87) {
   animation-delay: 8.6s;
 }
 
 #text2 span:nth-child(88) {
   animation-delay: 8.7s;
 }
 